body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}




.todo-list {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#openModal {
  position: fixed;
  bottom: 0;
  right: 0;
}
button {
  border: none;
  cursor: pointer;
  font-weight: bold;
}
h1 {
  display: flex;
  margin-bottom: 1px;
  margin-top: -80px;
  font-size: 1.5em;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.task-completed {
  text-decoration: line-through;
  color: #999;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: -220px;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  max-width: 500px;
  float: right;
  bottom: 0;
  right: 20px;
  position: absolute;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.buttons-container .edit-button,
.buttons-container .delete-button {
  display: none;
  float: right;
}

.buttons-container.show-buttons .edit-button,
.buttons-container.show-buttons .delete-button {
  display: flex;
  float: right;
}









.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: rgba(196, 193, 194, 0.68);
}

h1 {
  font-size: 8rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 10px 0;
}


.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 1024px) {
  #hero {
    .back-video {
      width: 100%;
      height: auto;
    }
      
    }
  }

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
